@use 'base/reset';
@use 'base/library';
@use 'base/responsive' as r;
@use 'base/variable' as v;
@use 'base/mixin' as m;
@use "brand/brandsMain";
@use "header_footer/header";
@use "header_footer/footer";

body{
  font-family: v.$ff-kr;
}

.location-btns {
  display: flex;
  width: 100%;
  height: 180px;
  justify-content: space-between;
  gap: 2px;

  @include r.mobile-lg {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 360px;
  }

  .location-btn {
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.6);

    &:hover {
      background: rgba(0, 0, 0, 0.8);

      .location-img-box {
        img {
          transform: scale(1.2);
        }
      }

      .location-text {
        &-left {
          img {
            transform: translate(-50%, 30%);
          }
        }

        &-right {
          img {
            transform: translate(50%, 30%);
          }
        }
      }
    }

    .location-img-box {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: .3s;
      }
    }

    .location-text {
      position: absolute;
      display: flex;
      align-items: center;
      gap: 12px;
      font-family: v.$ff-en;
      font-size: 36px;
      color: v.$c-text-white;

      @include r.mobile-lg {
        font-size: 48px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translateY(30%);
        transition: .3s;
      }

      &-left {
        top: 50%;
        right: 10%;

        @include r.mobile-lg {
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
        }
      }

      &-right {
        top: 50%;
        left: 10%;

        @include r.mobile-lg {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

        }
      }

      .location-title {}
    }
  }
}