@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 28px;
}

menu, ol, ul, li {
  padding: 0;
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  padding: 32px 0;
  border-bottom: 2px solid #4A4A4A;
  transition: 0.3s;
  z-index: 100;
  align-items: center;
}
.header .header-wrap {
  max-width: 1610px;
  margin: 0 155px;
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
@media (max-width: 1024px) {
  .header .header-wrap {
    max-width: 920px;
    margin: 0 52px;
  }
}
@media (max-width: 768px) {
  .header .header-wrap {
    max-width: 720px;
    margin: 0 24px;
  }
}
@media (max-width: 440px) {
  .header .header-wrap {
    max-width: 392px;
    margin: 0 24px;
  }
}
.header .header-wrap .logo a img {
  width: 264px;
  height: 42px;
  object-fit: contain;
  filter: invert(100%);
  transition: 0.2s;
}
.header .header-wrap nav .nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  font-family: "Escoredream";
  font-size: 18px;
  font-weight: 500;
  color: #0F0F0F;
  transition: 0.2s;
}
.header .header-wrap nav .nav-menu li {
  position: relative;
  transition: 0.2s;
}
.header .header-wrap nav .nav-menu li:hover {
  color: #E31D2E;
}
.header .header-wrap nav .nav-menu li .hover-text {
  position: absolute;
  top: 67px;
  left: 0;
  display: none;
}
.header .header-wrap nav .nav-menu li .hover-text li {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  width: 210px;
  height: 60px;
  padding-left: 18px;
  line-height: 60px;
  background-color: rgba(74, 74, 74, 0.8);
  transition: 0.2s;
}
.header .header-wrap nav .nav-menu li .hover-text li:hover {
  background-color: rgba(227, 29, 46, 0.8);
}
.header .header-wrap nav .nav-menu li .hover-text.on {
  display: block;
}
.header .header-wrap .icons {
  display: flex;
  align-items: center;
  gap: 16px;
  transition: 0.2s;
}
.header .header-wrap .icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #0F0F0F;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #0F0F0F;
  transition: 0.2s;
}
.header .header-wrap .icons a i {
  font-size: 18px;
}
.header .header-wrap .icons a:hover {
  background-color: #E31D2E;
  border: 1px solid #E31D2E;
  color: #FFFFFF;
}
.header .header-wrap .menu-toggle {
  display: none;
}
.header:hover {
  background: #E9E9E9;
}
@media (max-width: 768px) {
  .header .header-wrap nav {
    display: none;
  }
  .header .header-wrap .icons {
    display: none;
  }
  .header .header-wrap .menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .header .header-wrap .menu-toggle span {
    width: 32px;
    height: 3px;
    background-color: #0F0F0F;
    border-radius: 4px;
    transition: 0.2s;
  }
  .header .header-wrap .menu-toggle.active {
    border: 1px solid #E31D2E;
  }
  .header .header-wrap .menu-toggle.active span:nth-child(1) {
    background-color: #E31D2E;
    transform: translateY(11px) rotate(45deg);
  }
  .header .header-wrap .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }
  .header .header-wrap .menu-toggle.active span:nth-child(3) {
    background-color: #E31D2E;
    transform: translateY(-11px) rotate(-45deg);
  }
}
@media (max-width: 440px) {
  .header .header-wrap nav {
    display: none;
  }
  .header .header-wrap .icons {
    display: none;
  }
  .header .header-wrap .menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .header .header-wrap .menu-toggle span {
    width: 32px;
    height: 3px;
    background-color: #FFFFFF;
    border-radius: 4px;
    transition: 0.2s;
  }
  .header .header-wrap .menu-toggle.active {
    border: 1px solid #E31D2E;
  }
  .header .header-wrap .menu-toggle.active span:nth-child(1) {
    background-color: #E31D2E;
    transform: translateY(11px) rotate(45deg);
  }
  .header .header-wrap .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }
  .header .header-wrap .menu-toggle.active span:nth-child(3) {
    background-color: #E31D2E;
    transform: translateY(-11px) rotate(-45deg);
  }
  .header .header-wrap:hover .menu-toggle span {
    background-color: #0F0F0F;
  }
}

.mobile-menu {
  position: fixed;
  right: -100%;
  z-index: 99;
  color: #FFFFFF;
  background-color: rgba(227, 29, 46, 0.8);
  backdrop-filter: blur(5px);
  border-radius: 0 0 0 32px;
  transition: 0.2s;
}
.mobile-menu.active {
  right: 0;
}
.mobile-menu .mobile-menu-wrap {
  padding: 60px 0 60px 60px;
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item {
  width: 320px;
  height: auto;
  margin: 32px 0;
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item:first-child {
  margin-top: 0;
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item:last-child {
  margin-bottom: 0;
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item .menu-title {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item .menu-title a {
  font-family: "Escoredream";
  font-size: 28px;
  font-weight: 500;
  transition: 0.2s;
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item .menu-title:hover a {
  color: #0F0F0F;
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item .menu-title-select {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
  position: relative;
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item .menu-title-select::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: -6px;
  left: 0;
  transition: 0.2s;
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item .menu-title-select::after {
  content: "";
  display: inline-block;
  background: url(../../image/keyboard_arrow_down_24dp_FFF.svg) no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  transform: translateY(5px);
  transition: 0.2s;
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item .menu-title-select a {
  font-family: "Escoredream";
  font-size: 28px;
  font-weight: 500;
  transition: 0.2s;
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item .menu-title-select:hover::after {
  filter: invert(100%);
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item .menu-title-select:hover a {
  color: #0F0F0F;
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item.active .menu-title-select::before {
  width: 100%;
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item.active .menu-title-select::after {
  transform: translateY(5px) rotate(180deg);
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item .menu-select {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s;
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item .menu-select.active {
  max-height: 60px;
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item .menu-select li a {
  font-family: "Escoredream";
  font-size: 16px;
  font-weight: 16px;
}
.mobile-menu .mobile-menu-wrap .mobile-menu-item .menu-select li:hover a {
  color: #0F0F0F;
}

.footer {
  background-color: #0F0F0F;
  color: #FFFFFF;
}
.footer .footer-wrap {
  max-width: 1610px;
  margin: 0 155px;
  padding: 40px 0;
}
@media (max-width: 1024px) {
  .footer .footer-wrap {
    max-width: 920px;
    margin: 0 52px;
  }
}
@media (max-width: 768px) {
  .footer .footer-wrap {
    max-width: 720px;
    margin: 0 24px;
  }
}
@media (max-width: 440px) {
  .footer .footer-wrap {
    max-width: 392px;
    margin: 0 24px;
  }
}
.footer .footer-wrap .active-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 180px;
}
.footer .footer-wrap .active-section .footer-link-box .footer-head {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 48px;
}
.footer .footer-wrap .active-section .footer-link-box .footer-head .footer-logo a img {
  width: 264px;
  height: 42px;
  object-fit: contain;
  transition: 0.2s;
}
.footer .footer-wrap .active-section .footer-link-box .footer-head .footer-logo:hover a img {
  filter: brightness(0) saturate(100%) invert(19%) sepia(93%) saturate(3904%) hue-rotate(345deg) brightness(91%) contrast(95%);
}
.footer .footer-wrap .active-section .footer-link-box .footer-head .nation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  border: 1px solid #FFFFFF;
  border-radius: 60px;
  transition: 0.2s;
  cursor: pointer;
}
.footer .footer-wrap .active-section .footer-link-box .footer-head .nation span {
  font-family: "Escoredream";
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s;
}
.footer .footer-wrap .active-section .footer-link-box .footer-head .nation img {
  width: 24px;
  height: 24px;
  transition: 0.2s;
}
.footer .footer-wrap .active-section .footer-link-box .footer-head .nation:hover {
  background-color: #E31D2E;
  border: 1px solid #E31D2E;
}
.footer .footer-wrap .active-section .footer-link-box .footer-icons {
  display: flex;
  align-items: center;
  gap: 16px;
  transition: 0.2s;
}
.footer .footer-wrap .active-section .footer-link-box .footer-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #FFFFFF;
  transition: 0.2s;
}
.footer .footer-wrap .active-section .footer-link-box .footer-icons a i {
  font-size: 18px;
}
.footer .footer-wrap .active-section .footer-link-box .footer-icons a:hover {
  background-color: #E31D2E;
  border: 1px solid #E31D2E;
  color: #FFFFFF;
}
.footer .footer-wrap .active-section .footer-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 112px;
}
.footer .footer-wrap .active-section .footer-menu .footer-service {
  font-family: "Escoredream";
}
.footer .footer-wrap .active-section .footer-menu .footer-service h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 18px;
}
.footer .footer-wrap .active-section .footer-menu .footer-service p {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 18px;
}
.footer .footer-wrap .active-section .footer-menu .footer-service p:last-child {
  margin-bottom: 0;
}
.footer .footer-wrap .active-section .footer-menu .footer-service p:hover a {
  color: #F83C4D;
}
.footer .footer-wrap .website-right {
  font-family: "Escoredream";
  font-size: 16px;
  font-weight: 400;
  text-align: right;
}
@media (max-width: 768px) {
  .footer .footer-wrap {
    padding: 50px 20px;
  }
  .footer .footer-wrap .active-section {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .footer .footer-wrap .active-section .footer-link-box {
    width: 100%;
    margin-bottom: 40px;
  }
  .footer .footer-wrap .active-section .footer-link-box .footer-head {
    flex-direction: column;
    gap: 24px;
  }
  .footer .footer-wrap .active-section .footer-link-box .footer-head .nation {
    width: 100%;
  }
  .footer .footer-wrap .active-section .footer-link-box .footer-icons {
    justify-content: center;
  }
  .footer .footer-wrap .active-section .footer-menu {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 50px 32px;
  }
  .footer .footer-wrap .active-section .footer-menu .footer-service h4 {
    font-size: 24px;
    margin-bottom: 0;
    padding: 15px 0;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .footer .footer-wrap .active-section .footer-menu .footer-service h4::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .footer .footer-wrap .active-section .footer-menu .footer-service h4::after {
    content: "▾";
    transition: transform 0.3s;
  }
  .footer .footer-wrap .active-section .footer-menu .footer-service p {
    display: none;
    padding: 10px 0;
    margin-bottom: 0;
  }
  .footer .footer-wrap .active-section .footer-menu .footer-service.is-active h4::after {
    transform: rotate(180deg);
  }
  .footer .footer-wrap .active-section .footer-menu .footer-service.is-active p {
    display: block;
  }
  .footer .footer-wrap .website-right {
    text-align: center;
    margin-top: 40px;
  }
}
@media (max-width: 440px) {
  .footer .footer-wrap {
    padding: 32px 0;
  }
  .footer .footer-wrap .active-section {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .footer .footer-wrap .active-section .footer-link-box {
    width: 100%;
    margin-bottom: 40px;
  }
  .footer .footer-wrap .active-section .footer-link-box .footer-head {
    flex-direction: column;
    gap: 24px;
  }
  .footer .footer-wrap .active-section .footer-link-box .footer-head .nation {
    width: 100%;
  }
  .footer .footer-wrap .active-section .footer-link-box .footer-icons {
    justify-content: center;
  }
  .footer .footer-wrap .active-section .footer-menu {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0;
  }
  .footer .footer-wrap .active-section .footer-menu .footer-service h4 {
    font-size: 24px;
    margin-bottom: 0;
    padding: 15px 0;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .footer .footer-wrap .active-section .footer-menu .footer-service h4::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .footer .footer-wrap .active-section .footer-menu .footer-service h4::after {
    content: "▾";
    transition: transform 0.3s;
  }
  .footer .footer-wrap .active-section .footer-menu .footer-service p {
    display: none;
    padding: 10px 0;
    margin-bottom: 0;
  }
  .footer .footer-wrap .active-section .footer-menu .footer-service.is-active h4::after {
    transform: rotate(180deg);
  }
  .footer .footer-wrap .active-section .footer-menu .footer-service.is-active p {
    display: block;
  }
  .footer .footer-wrap .website-right {
    text-align: center;
    margin-top: 40px;
  }
}

.magic-video {
  position: relative;
  height: 300vh;
  /* VIDEO */
  /* RED BLUR OVERLAY */
  /* TEXT */
  /* BUTTON */
  /* ACTIVE STATE */
}
.magic-video-sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.magic-video-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vh;
  height: 100vh;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: none;
}
.magic-video-media {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.magic-video-overlay {
  position: absolute;
  inset: 0;
  background: rgba(200, 0, 0, 0.35);
  backdrop-filter: blur(8px);
  opacity: 0;
  transition: opacity 0.4s;
}
.magic-video-content {
  position: relative;
  gap: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.5s;
  z-index: 2;
}
.magic-video .magic-left h2 {
  font-size: 32px;
  font-weight: 700;
}
.magic-video .magic-left p {
  margin-top: 6px;
  font-weight: 600;
}
.magic-video .magic-right {
  max-width: 360px;
  font-size: 14px;
  line-height: 1.6;
}
.magic-video-btn {
  position: absolute;
  bottom: 60px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.4s;
}
.magic-video-btn button {
  border: 1px solid #e60023;
  color: #e60023;
  padding: 12px 28px;
  border-radius: 999px;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
}
.magic-video.active .magic-video-overlay {
  opacity: 1;
}
.magic-video.active .magic-video-content {
  opacity: 1;
  transform: translateY(0);
}
.magic-video.active .magic-video-btn {
  opacity: 1;
  transform: translateY(0);
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 80%);
  border-bottom: 2px solid #4A4A4A;
  margin-bottom: 1200px;
}
.header nav .nav-menu {
  color: #FFFFFF;
}
.header nav .nav-menu li .hover-text li {
  background-color: #FFFFFF;
}
.header nav .nav-menu li .hover-text li:hover {
  color: #FFFFFF;
}
.header:hover {
  background: rgba(255, 255, 255, 0.8);
}
.header:hover .logo a img {
  filter: invert(100%);
}
.header:hover nav .nav-menu {
  color: #0F0F0F;
}
.header:hover .icons {
  color: #0F0F0F;
}
.header:hover .icons a {
  border: 1px solid #0F0F0F;
  color: #0F0F0F;
}
@media (max-width: 768px) {
  .header .header-wrap .menu-toggle span {
    background-color: #FFFFFF;
  }
  .header .header-wrap:hover .menu-toggle span {
    background-color: #0F0F0F;
  }
}