
@use 'base/library';
@use 'base/reset';
@use 'base/mixin' as m;
@use 'base/variable' as v;
@use 'base/responsive' as r;
@use 'header_footer/header';
@use 'header_footer/footer';
@use 'index/video-section';

.header{
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 80%);
  border-bottom: 2px solid v.$c-text-darkgray;
  margin-bottom: 1200px;
  nav{
    .nav-menu{
      color: v.$c-text-white;
      li{
        .hover-text{
          li{
            background-color: v.$c-text-white;
            &:hover{
              color: v.$c-text-white;
            }
          }
        }
      }
    }
  }
  &:hover{background: rgba(v.$c-text-white, 0.8);}
  &:hover .logo a img{filter: invert(100%);}
  &:hover nav .nav-menu{color: v.$c-text-black;}
  &:hover .icons{color: v.$c-text-black;}
  &:hover .icons a{
    border: 1px solid v.$c-text-black;
    color: v.$c-text-black;
  }
  @include r.mobile-lg{
    .header-wrap{
      .menu-toggle{
        span{
          background-color: v.$c-text-white;
        }
      }
      &:hover .menu-toggle span {
        background-color: v.$c-text-black;
      }
    }
  }
}