@use "../base/variable" as v;
@use "../base/mixin" as m;
@use "../base/responsive" as r;

.magic-video {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200vh; // 스크롤 길이 (조절 가능)

  &-sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* VIDEO */
  &-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-media {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* RED BLUR OVERLAY */
  &-overlay {
    position: absolute;
    inset: 0;
    background: rgba(200, 0, 0, 0.35);
    backdrop-filter: blur(8px);
    opacity: 0;
    transition: opacity .4s;
  }

  /* TEXT */
  &-content {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

/* ============================= */
/* 좌우 텍스트 - 영상 기준 고정 */
/* ============================= */

.magic-left,
.magic-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: .4s;
  white-space: nowrap;
}

/* 왼쪽 : 영상 왼쪽 바깥에 붙임 */
.magic-left {
  right: calc(100% + 24px);   // ⭐ 영상 기준
  text-align: right;

  h2 {
    font-size: 32px;
    font-weight: 700;
  }

  p {
    margin-top: 6px;
    font-weight: 600;
  }
}

/* 오른쪽 : 영상 오른쪽 바깥에 붙임 */
.magic-right {
  left: calc(100% + 24px);    // ⭐ 영상 기준

  max-width: 360px;
  font-size: 14px;
  line-height: 1.6;
}

/* 등장 */
.magic-video.active {
  .magic-left,
  .magic-right {
    opacity: 1;
  }
}

  /* BUTTON */
  &-btn {
    @include m.slide-bg-btn;
    position: absolute;
    top: 100%;left: 50%;
    transform: translateX(-50%);
    padding: 0 20px;
    margin-top: 80px;
    cursor: pointer;
    img{
      width: 48px;height: 48px;
    }
    &:hover{
      img{
        filter: brightness(0) invert(1);
      }
    }
    @include r.mobile-lg{
      padding: 0 20px;
    }
  }

  /* ACTIVE STATE */
  &.active {
    .magic-video-overlay {
      opacity: 1;
    }

  }
  @include r.tablet{
    .magic-left,
    .magic-right {
      left: 50%;
      right: auto;
      transform: translate(-50%, 0);
      text-align: center;
      white-space: normal;
    }

    /* 위쪽 */
    .magic-left {
      top: calc(50% - 300px); // 영상 위 (간격 조절 가능)
    }

    /* 아래쪽 */
    .magic-right {
      top: calc(50% + 220px); // 영상 아래 (간격 조절 가능)
    }
    .magic-video-btn{
      margin-top: 120px;
    }
  }
}
