@use '../base/reset';
@use '../base/library';
@use '../base/variable' as v;
@use '../base/mixin' as m;
@use '../base/responsive' as r;
@use '../header_footer/header';
@use '../header_footer/footer';


main{
  @include m.inner;
  .page-title{
    @include m.subpage-title;
    .page-location{
      @include m.flex-center;
      gap: 4px;
      font-family: v.$ff-kr;
      font-weight: 500;
      margin-bottom: 28px;
      img{
        width: 24px; height: 21px;
        transform: translateY(-2px);
      }
      span{
        font-size: 18px;
        &::before{
          content: '/';
          display: inline-block;
          margin: 0 4px;
        } 
      }
    }
    // 로케이션
    .title-text{font-family: v.$ff-kr;}
  }
  // 서브페이지 제목

  .main-visual{
    margin-bottom: 80px;
    img{
      width: 100%; height: 700px; 
      object-fit: cover;
    }
    @include r.tablet{
      img{width: 100%; height: 655px;}
    }
    @include r.mobile-lg{
      margin-bottom: 60px;
      img{width: 100%; height: 550px;}
    }
    @include r.mobile-sm{
      margin-bottom: 40px;
      img{width: 100%; height: 375px;}
    }
  }
  // 메인 비주얼

  .project-news-wrap{
    margin-bottom: 240px;
    .project-news-box{
      display: flex;
      align-items: flex-start;
      gap: 24px;
      height: 675px;
      margin-bottom: 80px;
      .img-wrap{
        flex: 1; height: inherit;
        img{
          width: 100%; height: 100%;
          object-fit: cover;
          border-radius: v.$ra-lg;
        }
      }
      .text-wrap{
        flex: 1;
        font-family: v.$ff-kr;
        .text-wrap-title{
          margin-bottom: 24px;
          h4{
            font-size: v.$section-title;
            font-weight: 700;
            margin-bottom: 12px;
          }
          h6{
            font-size: v.$section-sub-title;
            font-weight: 300;
          }
        }
        p{
          font-size: 18px;
          font-weight: 300;
          margin-bottom: 8px;
          &:last-child{margin-bottom: 0;}
        }
      }
      &:nth-child(1){
        .date{
          display: inline-block;
          font-size: 24px;
          font-weight: 500;
          color: v.$c-text-darkgray;
          margin: 266px 0 0 620px;
        }
      }
      &:nth-child(2){
        flex-direction: row-reverse;
        .text-wrap{text-align: right;}
      }
      &:nth-child(3){
        .img-wrap{
          img{object-position: top;}
        }
      }
      &:nth-child(4){
        flex-direction: row-reverse;
        .text-wrap{text-align: right;}
      }
    }
    @include r.tablet{
      margin-bottom: 160px;
      .project-news-box{
        height: auto;
        .img-wrap{
          width: 100%; height: 607px;
          img{width: 100%; height: inherit;
            object-fit: cover;}
        }
        &:nth-child(1){
          flex-direction: column;
          .date{
            font-size: 18px;
            margin: 24px 0 0 0;
          }
        }
        &:nth-child(2){
          flex-direction: column;
          .text-wrap{text-align: left;}
        }
        &:nth-child(3){
          flex-direction: column;
        }
        &:nth-child(4){
          flex-direction: column;
          .text-wrap{text-align: left;}
        }
      }
    }
    @include r.mobile-lg{
      .project-news-box{
        margin-bottom: 60px;
      }
    }
    @include r.mobile-sm{
      .project-news-box{
        margin-bottom: 40px;
        .img-wrap{
          width: 100%; height: 330px;
          img{width: 100%; height: inherit;
            object-fit: cover;}
        }
        .text-wrap{
          .text-wrap-title{
            margin-bottom: 18px;
            h4{
              font-size: 26px;
              font-weight: 600;
              margin-bottom: 4px;
            }
            h6{font-size: 18px;}
          }
          p{
            font-size: 16px;
          }
        }
      }
    }
    .project-media-wrap{
      iframe{
        width: 100%; height: 800px;
        border-radius: v.$ra-lg;
      }
      @include r.tablet{
        iframe{height: 640px;}
      }
      @include r.mobile-lg{
        iframe{height: 440px;}
      }
      @include r.mobile-sm{
        iframe{height: 240px;}
      }
    }
  }
}

// 로케이션 버튼
.location-btns{
  display: flex;
  width: 100%; height: 180px;
  justify-content: space-between;
  gap: 2px;
  @include r.mobile-lg {
      flex-direction: column;
      text-align: center;
      justify-content: center;
      height: 360px;
  }
  .location-btn{
      flex: 1;
      width: 100%; height: 100%;
      position: relative;
      background: rgba(0, 0, 0, 0.6);
      .location-img-box {
         img{
           width: 100%; height: 100%;
          }
         }
      //호버애니
      &:hover{
          background: rgba(0, 0, 0, 0.8);
          .location-img-box {
              img {
                  transform: scale(1.2);
                 }
               }
          .location-text{
              &-left{
              img{
                  transform: translate(-50%, 30%);
                  }
                 }

              &-right {
              img {
                  transform: translate(50%, 30%);
                  }
                 }
              }
             }

      .location-img-box{
          position: absolute;
          width: 100%; height: 100%;
          top: 0; left: 0; right: 0;
          z-index: -1;
          overflow: hidden;
          img{
              width: 100%; height: 100%;
              object-fit: cover;
              object-position: center;
              transition: .3s;
            }
          }

      .location-text {
          position: absolute;
          display: flex;
          align-items: center;
          gap: 12px;
          font-family: v.$ff-en;
          font-size: 32px;
          color: v.$c-text-white;
            @include r.mobile-lg{
              font-size: 48px;
            }
          img{
              width: 19px; height: 14px;
              object-fit: cover;
              transform: translateY(30%);
              transition: .3s;
          }

          &-left {
              top: 50%; right: 10%;

              @include r.mobile-lg {
                  top: 50%; right: 50%;
                  transform: translate(50%, -50%);
                  line-height: 48px;
                }
             }

          &-right {
              top: 50%; left: 10%;

              @include r.mobile-lg {
                  top: 50%; left: 50%;
                  transform: translate(-50%, -50%);
                  line-height: 48px;
                }
              }
      }
  }
}