@use 'responsive' as r;

.footer{
  background-color: $c-text-black;
  color: $c-text-white;
  .footer-wrap{
    @include inner;
    padding: 40px 155px;
    .active-section{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 180px;
      .footer-link-box{
        .footer-head{
          display: flex;
          align-items: center;
          gap: 40px;
          margin-bottom: 48px;
          .footer-logo{
            a{
              img{width: 264px; height: 42px; object-fit: contain;  transition: 0.2s;}
            }
            &:hover a img{filter: brightness(0) saturate(100%) invert(19%) sepia(93%) saturate(3904%) hue-rotate(345deg) brightness(91%) contrast(95%);}
          }
          .nation{
            @include flex-center;
            gap: 12px;
            padding: 8px 16px;
            border: 1px solid $c-text-white;
            border-radius: 60px;
            transition: 0.2s;
            cursor: pointer; 
            span{
              font-family: $ff-kr;
              font-size: $fs-sm;
              font-weight: 400;
              transition: 0.2s
            }
            img{
              width: 24px; height: 24px;
              transition: 0.2s
            }
            &:hover{
              background-color: $c-brand-primary;
              border: 1px solid $c-brand-primary;
            }
          }
        }

        .footer-icons{
          display: flex;
          align-items: center;
          gap: 16px;
          transition: 0.2s;
          a{
            display: inline-block;
            width: 40px; height: 40px;
            border: 1px solid $c-text-white;
            border-radius: 50%; 
            text-align: center;
            line-height: 40px;
            color: $c-text-white;
            transition: 0.2s;
            i{font-size: 18px;}
          }
          & a:hover{
            background-color: $c-brand-primary;
            border: 1px solid $c-brand-primary;
            color: $c-text-white;
          }
        }
      }
      .footer-menu{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 112px;
        .footer-service{
          font-family: $ff-kr;
          h4{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 18px;
          }
          p{
            font-size: 16px;
            font-weight: 200;
            margin-bottom: 18px;
            &:last-child{margin-bottom: 0;}
            &:hover a{color: $c-brand-light;}
          }
        }
      }
    }
    .website-right{
      font-family: $ff-kr;
      font-size: $fs-sm;
      font-weight: 400;
      text-align: right;
    }
  }

  // 반응형 - 768px
  @include r.mobile-lg{
    .footer-wrap {
      padding: 50px 20px; // 패딩 조정
      .active-section {
        flex-direction: column; margin-bottom: 80px;
        .footer-link-box {
          width: 100%; margin-bottom: 40px;
          .footer-head { flex-direction: column; gap: 24px; .nation { width: 100%; } }
          .footer-icons { justify-content: center; }
        }

        .footer-menu {
          width: 100%; grid-template-columns: 1fr; gap: 20px; padding: 50px 32px;
          .footer-service {
            h4 {
              font-size: 24px; margin-bottom: 0; padding: 15px 0;
              position: relative; cursor: pointer; display: flex; justify-content: space-between;
              &::before {
                content: ''; width: 100%; height: 1px; background-color: rgba(255,255,255,0.3);
                position: absolute; bottom: 0; left: 0;
              }
              &::after {
                content: '▾'; transition: transform 0.3s;
              }
            }
            p { 
              display: none; // 기본 숨김
              padding: 10px 0; margin-bottom: 0;
            }

            // 활성화 상태
            &.is-active {
              h4::after { transform: rotate(180deg); }
              p { display: block; }
            }
          }
        }
      }
      .website-right { text-align: center; margin-top: 40px; }
    }
  }
  // 반응형 - 440px
  @include r.mobile-sm{
    .footer-wrap {
      padding: 32px 0; 
      .active-section {
        flex-direction: column; margin-bottom: 80px;
        .footer-link-box {
          width: 100%; margin-bottom: 40px;
          .footer-head { flex-direction: column; gap: 24px; .nation { width: 100%; } }
          .footer-icons { justify-content: center; }
        }

        .footer-menu {
          width: 100%; grid-template-columns: 1fr; gap: 20px; padding: 0;
          .footer-service {
            h4 {
              font-size: 24px; margin-bottom: 0; padding: 15px 0;
              position: relative; cursor: pointer; display: flex; justify-content: space-between;
              &::before {
                content: ''; width: 100%; height: 1px; background-color: rgba(255,255,255,0.3);
                position: absolute; bottom: 0; left: 0;
              }
              &::after {
                content: '▾'; transition: transform 0.3s;
              }
            }
            p { 
              display: none; // 기본 숨김
              padding: 10px 0; margin-bottom: 0;
            }

            // 활성화 상태
            &.is-active {
              h4::after { transform: rotate(180deg); }
              p { display: block; }
            }
          }
        }
      }
      .website-right { text-align: center; margin-top: 40px; }
    }
  }
}