// base/_responsive.scss
$breakpoint-mobile1: 440px;
$breakpoint-mobile2: 768px;
$breakpoint-tablet: 1024px;

@mixin mobile-sm {
  @media (max-width: $breakpoint-mobile1) {
    @content;
  }
}
@mixin mobile-lg {
  @media (max-width: $breakpoint-mobile2) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}
