@use 'responsive' as r;
@use 'variable' as v;

.sub-header{
  width: 100%; height: auto;
  background: v.$c-text-white;
  padding: 32px 0;
  border-bottom: 2px solid v.$c-text-darkgray;
  transition: 0.3s;
  .header-wrap{
    @include inner;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
  .logo{
    a{
      img{width: 264px; height: 42px; object-fit: contain; filter: invert(100%); transition: 0.2s;}
    }
  }
  nav{
    .nav-menu{
      @include flex-center;
      gap: 60px;
      font-family: v.$ff-kr;
      font-size: v.$fs-re;
      font-weight: 500;
      color: v.$c-text-black;
      transition: 0.2s;
      li{
        position: relative;
        transition: 0.2s;
        &:hover{color: v.$c-brand-primary;}
        .hover-text{
          position: absolute;
          top: 67px; left: 0;
          display: none;    
          li{
            font-size: v.$fs-sm;
            font-weight: 500;
            color: v.$c-text-white;
            width: 210px; height: 60px;
            padding-left: 18px;
            line-height: 60px;
            background-color: rgba(v.$c-text-darkgray, 0.8);
            transition: 0.2s;
            &:hover{
              background-color: rgba(v.$c-brand-primary, 0.8);
            }
          }
          &.on{display: block;}
        }
      }
    }
  }
  .icons{
    display: flex;
    align-items: center;
    gap: 16px;
    transition: 0.2s;
    a{
      display: inline-block;
      width: 40px; height: 40px;
      border: 1px solid v.$c-text-black;
      border-radius: 50%; 
      text-align: center;
      line-height: 40px;
      color: v.$c-text-black;
      transition: 0.2s;
      i{font-size: 18px;}
    }
    & a:hover{
      background-color: v.$c-brand-primary;
      border: 1px solid v.$c-brand-primary;
      color: v.$c-text-white;
    }
  }
  .menu-toggle{display: none;}
 }
 //hover-ani
 &:hover{background: v.$c-text-gray;}

// 반응형 - 768px
@include r.mobile-lg{
  .header-wrap{
    nav{display: none;}
    .icons{display: none;}
    .menu-toggle{
      display: flex;
      flex-direction: column;
      gap: 8px;
      span{
        width: 32px; height: 3px;
        background-color: v.$c-text-black;
        border-radius: v.$ra-sm;
        transition: 0.2s;
      }
      &.active{border: 1px solid v.$c-brand-primary;
        span{
          &:nth-child(1){
           background-color: v.$c-brand-primary;
           transform: translateY(11px) rotate(45deg);
          }
          &:nth-child(2){
            opacity: 0;
          }
          &:nth-child(3){
          background-color: v.$c-brand-primary;
          transform: translateY(-11px) rotate(-45deg);
          }
       }
     }
   }
 }
}
// 반응형 - 440px
@include r.mobile-sm{
  .header-wrap{
    nav{display: none;}
    .icons{display: none;}
    .menu-toggle{
      display: flex;
      flex-direction: column;
      gap: 8px;
      span{
        width: 32px; height: 3px;
        background-color: v.$c-text-white;
        border-radius: v.$ra-sm;
        transition: 0.2s;
      }
      &.active{border: 1px solid v.$c-brand-primary;
       span{
        &:nth-child(1){
          background-color: v.$c-brand-primary;
          transform: translateY(11px) rotate(45deg);
         }
         &:nth-child(2){
           opacity: 0;
         }
         &:nth-child(3){
         background-color: v.$c-brand-primary;
         transform: translateY(-11px) rotate(-45deg);
         }
       }
      }
    }
    &:hover .menu-toggle span{
      background-color: v.$c-text-black;
     }
  }
 }
}

.mobile-menu{
  position: fixed;
  right: -100%;
  z-index: 99;
  color: v.$c-text-white;
  background-color: rgba(v.$c-brand-primary, 0.8);
  border-radius: 0 0 0 32px;
  transition: 0.2s;
  &.active{right: 0;}
  .mobile-menu-wrap{
    padding: 60px 0 60px 60px;
    .mobile-menu-item{
      width: 320px; height: auto;
      margin: 32px 0;
      &:first-child{margin-top: 0;}
      &:last-child{margin-bottom: 0;}
      .menu-title{
        width: 100%; height: auto;
        margin-bottom: 8px;
        a{
        font-family: v.$ff-kr;
        font-size: 28px;
        font-weight: 500;
        transition: 0.2s; 
        }
        &:hover a{color: v.$c-text-black;} 
      }
      .menu-title-select{
        width: 100%; height: auto;
        margin-bottom: 8px;
        position: relative;
        &::before{
          content: '';
          width: 0; height: 2px;
          background-color: v.$c-text-white;
          position: absolute;
          bottom: -6px; left: 0;
          transition: 0.2s;
        }
        &::after{
          content: '';
          display: inline-block;
          background: url(./base/image_sourcs/keyboard_arrow_down_24dp_FFF.svg) no-repeat;
          background-size: cover;
          width: 32px; height: 32px;
          margin-left: 8px;
          transform: translateY(5px);
          transition: 0.2s;
        }
        a{
        font-family: v.$ff-kr;
        font-size: 28px;
        font-weight: 500;
        transition: 0.2s; 
        }
        &:hover::after{filter: invert(100%);}
        &:hover a{color: v.$c-text-black;}
      }
      &.active .menu-title-select::before{
        width: 100%;
      }
      &.active .menu-title-select::after{
        transform: translateY(5px) rotate(180deg);
      }
      .menu-select{
        width: 100%; max-height: 0;
        overflow: hidden;
        transition: 0.2s;
        &.active{max-height: 60px;}
        li{
          a{
            font-family: v.$ff-kr;
            font-size: 16px;
            font-weight: v.$fs-sm;
          }
          &:hover a{color: v.$c-text-black;}
        }
      }
    }
  }
} 