//폰트
$ff-kr: "Escoredream";
$ff-en: "Playfair Display", serif;;

$subpage-title: 64px;
$section-title: 40px;
$section-sub-title: 24px;
$fs-re: 18px;
$fs-sm: 16px;
//사이즈

$fw-title: 800;
$fw-title-sm: 700;
$fw-re: 300;
//굵기

$content-lg: 32px;
$content-md: 24px;
$content-sm: 8px;
//간격

$ra-lg: 12px;
$ra-md: 8px;
$ra-sm: 4px;
$ra-hover-lg: 12px 12px 12px 108px;
$ra-hover-md: 8px 8px 8px 72px;
$ra-hover-sm: 4px 4px 4px 36px;
//둥글기값

$c-brand-primary: #E31D2E;
$c-brand-dark: #C91727;
$c-brand-light:  #F83C4D;
//텍스트
$c-text-black: #0F0F0F;
$c-text-darkgray: #4A4A4A;
$c-text-gray: #E9E9E9;
$c-text-white: #FFFFFF;
//point
$c-fanta: #10A84B;
$c-sprite: #F4652D;
$c-docpeper: #95293C;
$c-powerade: #0AA5D5;
//색상