@use '../base/mixin' as m;
@use '../base/responsive' as r;
@use '../base/variable' as v;






.media-list img {
  // width: 240px;
  border-radius: 16px;
  cursor: pointer;
}

.media {
  display: flex;
  flex-direction: column;
  .image-wrap {
    padding: 80px 0;
    background-image: url(../image/brands/media.png);
    background-size: cover;
    background-position: center;
    .inner {
      @include m.inner;
      .media-list {
        display: flex;
        gap: 24px;
        a {
          max-height: 440px;
          flex: 1;
          display: block;
          position: relative;
          aspect-ratio: 16 / 9;
          img {
            width: 100%;height: 100%;
            object-fit: cover;display: block;
          }
        }
      }
    }
  }
  .media-more {
  margin:40px auto auto;
  @include m.slide-bg-btn {
    display: flex;
    padding: 10px 26px;
    @include r.mobile-lg {
      padding: 8px 20px;
    }
    @include r.mobile-sm {
      font-size: 12px;
      padding: 6px 16px;
    }
  }
}
}